run = "python3 -m http.server $PORT"

modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python3 -m http.server $PORT"]
